[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
"cloudspec.aws-cdk" = {path = "./../../../dist/python/cloudspec.aws_cdk-0.0.11-py3-none-any.whl"}
